@import url('../../node_modules/semantic-ui-css/semantic.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

*:not(i)
  margin 0
  padding 0
  outline none
  list-style none
  font-family 'Open Sans'!important
  letter-spacing 0.3px

body
  margin-top 40px

.ui.pointing.secondary.vertical.menu

  .item
    padding 0

    a
      padding 15px
      display block
